@font-face {
  src: url(../fonts/BowlbyOne-Regular.ttf);
  font-family: bowl;
}
@font-face {
  src: url(../fonts/CircularStd-Book.otf);
  font-family: cicul;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* LANDING PAGE ABOUT STARTS */

#about {
  background: #FF7B41;
  height: 100%;
  width: 0%;
  position: fixed;
  padding: 80px 0;
  z-index: 100;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.4s;
  position: fixed;
}
#about .text-area p {
  font-family: "cicul";
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 63px;
  letter-spacing: -0.04em;
  color: #000000;
  margin-bottom: 20px;
}
#about .text-area p span {
  font-family: "cicul";
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: -0.04em;
  color: #FFFFFF;
}
#about .instructions .item .nbr {
  width: 20px;
  height: 20px;
  padding: 2px 7px;
  margin-right: 12px;
  border: 1px solid #FFFFFF;
  border-radius: 50px;
  color: #FFFFFF;
  font-size: 10px;
}
#about .instructions .item .text h6 {
  font-size: 26px;
  letter-spacing: -0.04em;
  color: #FFFFFF;
  font-family: "cicul";
}
#about .closebtn {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  display: block;
  transition: 0.3s;
  position: absolute;
  right: 20px;
  top: 10px;
}

/* LANDONG PAGE START */
#landing {
  height: 100vh;
  background: transparent;
  overflow-y: hidden;
  position: relative;
}
#landing .leftside {
  background-color: #FF7B41;
  position: absolute;
  left: 0;
  top: 0;
  height: 120%;
  width: 60px;
}
#landing .leftside .slidestart h2 {
  transform: rotate(-90deg) !important;
  color: #000000;
  font-size: 20px;
  line-height: 150px;
  letter-spacing: -0.04em;
  font-family: "cicul";
  font-style: normal;
  font-weight: normal;
  cursor: pointer;
}
/*#landing .rightside{height: 100vh;}*/
#landing .current-online {
  position: absolute;
  right: 2%;
  top: 2%;
}
#landing .current-online .box {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #000;
  padding: 30px;
}
#landing .rightside .text-area {
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
  padding: 0px;
}
#landing .rightside .text-area h6 {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 20px;
  letter-spacing: -0.04em;
  color: #000000;
  margin: 50px 0 30px 0;
}
#landing .rightside .text-area h1 {
  font-family: bowl;
  font-size: 150px;
  line-height: 125px;
  color: #000000;
}
#landing .rightside .text-area h1 span img {
  width: 300px;
  height: 151px;
}
#landing .rightside .text-area h3 a {
  color: #FF7B41;
  letter-spacing: -0.04em;
  font-size: 60px;
  line-height: 60px;
  font-family: "cicul";
  font-style: normal;
  font-weight: normal;
  margin-top: 50px;
}
#landing .rightside .text-area h3 img {
  margin-left: 30px;
}

/* PRE PAGE STARTS */
#prepage {
  width: 100%;
  display: flex;
  overflow-y: hidden;
}
#prepage .left-side {
  background-color: #352F2F;
  width: 50%;
  height: 90vh;
  padding: 50px 100px;
  position: relative;
}
#prepage .left-side .box {
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
}
#prepage .left-side .img-wrapper {
  text-align: center;
}
#prepage .left-side .img-wrapper img {
  width: 367px;
  height: 267px;
  text-align: center;
  margin-bottom: 26px;
  margin-top: 50px;
}
#prepage .left-side h6 {
  color: #FFFFFF;
  font-family: "cicul";
  font-size: 35px;
  line-height: 40px;
  letter-spacing: -0.04em;
  font-style: normal;
  font-weight: 500;
  width: 28vw;
  margin-left: 80px !important;
}
#prepage .right-side {
  background: transparent;
  width: 50%;
  height: 90vh;
  padding: 50px 100px;
  position: relative;
}
#prepage .right-side .box {
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
}
#prepage .right-side .img-wrapper {
  text-align: right !important;
  margin-top: 50px;
}
#prepage .right-side .img-wrapper img {
  width: 400px;
  height: 367px;
  text-align: center;
  margin-bottom: 26px;
}
#prepage .right-side h6 {
  color: #000000;
  font-family: "cicul";
  font-size: 35px;
  line-height: 40px;
  letter-spacing: -0.04em;
  font-style: normal;
  font-weight: 500;
  text-align: right;
  margin-left: -150px;
}

#footer {
  background: #FF7B41;
  padding: 12px 100px;
  height: 10vh;
  width: 100%;
}
#footer h5 a {
  color: #000000;
  font-size: 40px;
  font-style: normal;
  font-weight: normal;
  font-family: cicul;
}

/* livepage STARTS */
#livepage {
  background: #F5F5F5;
  padding: 50px;
  height: 90vh;
}
#livepage h2 {
  font-size: 50px;
  line-height: 63px;
  letter-spacing: -0.04em;
  color: #000000;
  font-style: normal;
  font-weight: normal;
  font-family: cicul;
}
#livepage .text-center {
  position: absolute;
  right: 50%;
  top: 40%;
  transform: translate(50%, -50%);
}
#livepage .img-wrapper img {
  margin-bottom: 30px;
  width: 381px;
  height: 381px;
  border-radius: 50%;
}
#livepage .dot {
  width: 17px;
  height: 17px;
  background: #FF7B41;
}
#livepage .hello img {
  margin-top: -70px;
}
#livepage .hello h6 {
  background: #FF7B41;
  width: 266px;
  height: 60px;
  position: absolute;
  right: 50%;
  transform: translate(50%, -50%);
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 55px;
  letter-spacing: -0.04em;
  color: #000000;
  font-family: cicul;
}
